body {
  background-color: rgb(209, 205, 255);
  background-image: url('./1_background.png');
  background-repeat: repeat;
  background-size: 2100px;       /* or contain / cover / 300px etc */

  /* Manual positioning options */
  background-position: 0px -676px;   
  background-attachment: fixed;
}
