@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

.main {
    font-family: 'Momo Trust Display', serif;
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.text label{
    display: flex;
    flex-direction: column;
    text-align: flex;
    
}

.text button {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text button:hover{
    background-color: rgb(240, 240, 240);
    padding: 12px;
    transition : background-color, padding 0.3s ease;
    
}

.text button {
     font-family: 'Momo Trust Display', serif;;
}

.container {
    position: relative;
    background-color: #ffffff;
    padding: 30px 70px;
    max-height: 80vh;;
    font-size: 1.5vw;
    border-radius: 40px;
    
    transition: padding 0.3s ease;
}

/* .username-false-display p{
    color: green;
    position:absolute;
    top: 500px;
    
} */

.text input{
    width: 30vw;
    height: 2.3vw;
    border-radius: 1vw;
    border-width: 0vw;
    margin-bottom: 1vw;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    background-color: rgb(240, 240, 240);
    font-family: 'Momo Trust Display', serif;;
}

.text input:focus {
  outline: none;
  font-family: 'Momo Trust Display', serif;
}

.text button{
    padding: 8px;
    transition: padding 0.2s ease;
    appearance: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    font-size: 1.3vw;
}

.message-box {
    max-height: 0;             
    opacity: 0;
    overflow: hidden;           
    font-size: 1.4vw;

    transition:
        max-height 0.35s ease,
        opacity 0.35s ease;
}

.message-box.show {
    max-height: 100px;         
    opacity: 1;
}

/*--------------*/

@media (max-width: 900px) {
  .text input {
    width: 100%;          
  }

  .container {
    padding: 24px 32px;   
    font-size: 1.3vw;
  }
}

@media (max-width: 600px) {
  .main {
    position: static;          
    transform: none;
    padding: 24px 16px;
  }

  .container {
    max-height: none;         
    width: 100%;
    box-sizing: border-box;
    border-radius: 24px;
  }

  .text input {
    width: 100%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .text button,
  .container,
  .message-box {
    transition: none;
  }
}